<!DOCTYPE html>
<html>
    <head>
        <title>History</title>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/3d96bbc4fa.js" crossorigin="anonymous"></script>
        <style>
            #history_as_title {

                text-align: center;
                font-weight: bold;
                font-family: Stencil Std, fantasy;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 id="history_as_title">History</h1>
        </div>
    </body>
</html>