<!DOCTYPE html>
<html>
    <head>
        <title>Presentation</title>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/3d96bbc4fa.js" crossorigin="anonymous"></script>
        <style>
            #presentation_as_title {

                text-align: center;
                font-weight: bold;
                font-family: Stencil Std, fantasy;
            }
        </style>
    </head>
    <body>
        <div>
            <h1 id="presentation_as_title">Presentation</h1>
            <div id="github_button_container">
                <p id="github_button"><i class="fa-solid fa-download"></i> GitHub</p>
            </div>
            <div id="dockerhub_button_container">
                <p id="dockerhub_button"><i class="fa-solid fa-download"></i> DockerHub</p>
            </div>
        </div>
    </body>
</html>