<!DOCTYPE html>
<html>
    <head>
        <title>Presentation</title>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/3d96bbc4fa.js" crossorigin="anonymous"></script>
        <style>
            #presentation_as_title {

                text-align: center;
                font-weight: bold;
                font-family: Stencil Std, fantasy;
            }

            #github_logo {

                cursor: pointer;
                color: #000000;
            }

            #dockerhub_logo {

                cursor: pointer;
                color: #0db7ed;
            }

        </style>
    </head>
    <body>
        <div>
            <h1 id="presentation_as_title">Presentation</h1>
            <div>
                <a id="github_logo" href="https://github.com/Vicken-Ghoubiguian/goEmojisGitHubAPIWebServer" target="_blank"><i class="fa fa-github fa-2xl"></i></a>
                <a id="dockerhub_logo" href="" target="_blank"><i class="fa-brands fa-docker fa-2xl"></i></a>
            </div>
        </div>
    </body>
</html>