<!DOCTYPE html>
<html>
    <head>
        <title>Presentation</title>
        <meta charset="utf-8">
        <script src="https://kit.fontawesome.com/3d96bbc4fa.js" crossorigin="anonymous"></script>
        <style>
            #presentation_as_title {

                text-align: center;
                font-weight: bold;
                font-family: Stencil Std, fantasy;
            }

            #github_logo {

                cursor: pointer;
            }

            #dockerhub_logo {

                cursor: pointer;
            }

        </style>
    </head>
    <body>
        <div>
            <h1 id="presentation_as_title">Presentation</h1>
            <div id="github_button_container">
                <p id="github_logo"><i class="fa fa-github fa-2xl"></i></p>
            </div>
            <div id="dockerhub_button_container">
                <p id="dockerhub_logo"><i class="fa-brands fa-docker fa-2xl"></i></p>
            </div>
        </div>
    </body>
</html>